@font-face{
    font-family:ragazza;
    src:url('./fonts/Italiana-Regular.ttf')
}
:root {
    --color-main: #71c6dd;
    --color-main-light: #e1f6fb;
    --color-dark: #3f4156;
    --color-dark-medium: #51546e;
    --color-dark-light: #696d97;
    --color-light: #e5e5e5;
    --color-gray: #8b8b8b;
    --color-light-gray: #b2bdbd;
    --color-bg: #2d2d39;
    --color-success: #5dd693;
    --color-error: #fc4b0b;
    --color-glow:#61efff;
}
/* -------------------------------------------------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper{
    width: 100%;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-device-width: 1600px) {
    .wrapper {
      background-attachment: scroll;
      min-height: 400px;
    }
  }

.container{
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.card{
    width: 80px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}

.card > .row{
    color: white;
    display: flex;
    flex-wrap: nowrap;
}

.card > .row > .icon {
    background: #223;
    color: white;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.card > .row > .description{
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.description p{
    color: #b0b0ba;
    padding-top: 1px;
}

.description h4{
    text-transform: uppercase;
    padding-bottom: 2px;
}

input{
    display: none;
}

input:checked + label{
    width: 600px;
}

input:checked + label .description{
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card[for="c1"]{
    background-image: url('./landing.png');
}
.card[for="c2"]{
    background-image: url('./design3.jpg');
}
.card[for= "c3"]{
    background-image: url('./game.png');
}
.card[for="c4"]{
    background-image: url('./art.jpg');
}
/* ------------------------------------------------- */
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
    background-color: #0a0a0f;
  }

  /* Create a Parallax Effect */
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* First image (Logo. Full height) */
  .bgimg-1 {
    background-image: url('https://img.itch.zone/aW1hZ2UvMTExNjMyMS8xMzM5MDkyNi5wbmc=/original/gOBy0B.png');
    min-height: 100%;
  }

  /* Second image (Portfolio) */
  .bgimg-2 {
    background-image: url("https://img.itch.zone/aW1hZ2UvMTExNjMyMS82NDUyMzI5LnBuZw==/original/%2Fk91Tj.png");
    min-height: 400px;
  }

  /* Third image (Contact) */
  .bgimg-3 {
    background-image: url("./digitalart.png");
    min-height: 400px;
  }
  .w3-wide {letter-spacing: 10px;}
  .w3-hover-opacity {cursor: pointer;}
  /*
  @media only screen and (max-device-width: 1600px) {
    canvas{
      background-attachment: scroll;
      min-height: 400px;
    }*/
  /* Turn off parallax scrolling for tablets and phones */
  @media only screen and (max-device-width: 1600px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
      background-attachment: scroll;
      min-height: 400px;
    }
  }
/* ------------------ section classes ------------------ */
.about-section{
    background-color: var(--color-dark);
    border-radius: 15px;
    margin-top: 3vw;
    color:white;
    font-family: ragazza;
    font-size:1.5em;
    font-weight: 500;
}
.myh2{
    font-family: ragazza;
    font-size: 2em;
    font-weight: 500;
}
.myi{
    font-family:sans-serif;
    font-size: 1em;
    font-weight: 500;
}
